<root>
	<type>Root</type>
    <id>区位交通</id>
	<name></name>
	<subname></subname>
	<icon>logo.png</icon>
	<highlightedIcon>logo_h.png</highlightedIcon>
	<layout>layout.xml</layout>
	<appearance>appearance.xml</appearance>
	<dataFile>datafile.xml</dataFile>
    <loader>loaderconfig.xml</loader>
</root>
