<root>
    <type>SequenceFramesScene</type>
    <id>品牌_大北京</id>
    <name></name>
    <subname></subname>
    <icon>logo.jpg</icon>
    <highlightedIcon>logo_h.jpg</highlightedIcon>
    <layout>layout.xml</layout>
    <dataFile>datafile.xml</dataFile>
    <appearance>appearance.xml</appearance>
</root>
